* {

	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0 auto;
	background-color: #8eb6f7;
	text-align: center;

}

p {
	text-align: center;
	font-weight: 700;
	font-family: sans-serif;
}

h1,
h2,
h3 {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Bitter', serif;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #33ff33;

}

#portfolio:hover {
	border-bottom-color: aqua;
}

ul {
	list-style: none;
	padding-left: 0;
}



/*-----nav-----*/
.main-nav {
	margin: auto;
}

.main-nav li {
	font-weight: 600;
	font-size: 25px;
	padding-bottom: 10px;
	display: block;
	text-transform: uppercase;
	background-color: aliceblue;
	padding: 10px 0;
	margin: 5px;
	font-family: 'Pacifico', cursive;

}

/*======Header=======*/

.main-header {
	margin: 0 auto;
	width: 100%;
	margin-bottom: 30px;
}



.profile-img {
	text-align: center;
	width: 100%;
}





/*-----cointent-----*/
.headline {
	padding: 30px;
	font-family: 'Pacifico', cursive;
	font-size: 40px;
	text-transform: uppercase;
	border-bottom: 1px solid rgb(65, 25, 25);
}



main {
	background-color: white;
	padding-bottom: 30px;
	border-radius: 6px;
	border-bottom: 2px solid #fc8c03;
}


img {
	width: 100%;
}

.img-project {
	display: block;
	width: 100%;
}

.container,
.main-header {

	display: block;
	width: 100%;
	margin: 0 auto;
}

.portfolio-gen {
	padding: .5em;
}

/*-----footer-----*/
footer {
	margin: 0 auto;
}

.foot-name {
	text-align: center;
}

.foot-nav {
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
}

footer li {
	display: inline-block;
	font-weight: 500;
	text-transform: uppercase;
	margin: 0 auto;
}



/* ===========media queries section===========================*/



@media(min-width: 768px) {

	.container {

		width: 90%;
		max-width: 1150px;
		margin: auto;
	}

	.main-header,
	.main-nav {
		max-width: 990px;
		width: 85%;
	}

	.main-header {
		margin-bottom: 15vh;
	}

	h3 {
		text-transform: uppercase;

		font-size: 20px;
	}

	/*=====navigation=====*/
	.main-nav li {
		display: inline-block;
		text-align: center;
		padding-left: 10px;
		padding-top: 15px;
		background-color: transparent;
	}

	.name {
		text-align: center;
		font-size: 30px;
		border-bottom: 1px solid black;

	}

	.portfolio-gen {
		width: 50%;
	}

	.photo {
		float: right;
	}

	/*=====header=====*/

	.profile-img {
		float: right;
		padding-left: 10px;
		width: 60%;

	}


	.info-text {
		font-size: 20px;
		font-weight: 600;
		font-family: cursive;
		padding: 3px;
		letter-spacing: 1px;

	}

	.foot-name {
		float: left;
	}

	.foot-nav {
		float: right;
	}

	.foot-nav li {
		font-family: cursive;
	}


	.clearfix::after {
		content: "";
		clear: both;
		display: table;
	}

}

@media(min-width: 1024px) {

	.container {
		width: 80%;

	}

	.main-header {
		width: 75%;

	}

	.portfolio-gen {
		width: 33.3%;
		padding: 0 3px 0 3px;
		margin: 0;

	}

	.photo1 {
		float: right;
	}

	.name {
		float: left;
	}

	.main-nav ul {
		float: right;
	}



}
