*{

 box-sizing: border-box;
 text-align: center;   
}

body{
 padding: 0;
margin: 0 auto;
background-color: #8eb6f7;

}
 p{
	 text-align: center;
	 font-weight: 700;
 }

h1, h2, h3{
text-align: center;
text-transform: uppercase;
font-family: 'Bitter', serif;
}
	


 a, li {
	text-decoration: none;
	color: black;

}

a:hover{
	color: rgb(14, 133, 34);
}


/*-----nav-----*/

.main-nav{

	margin:0 auto;
	
	}


.main-nav li{
    font-weight: 600;
    font-size: 25px; 
	padding-bottom: 10px;
	display: block;
	width: auto;
	text-transform: uppercase;
}
/*======Header=======*/

.main-header{
    margin: 0 auto;
    width: 100%;
}
 header p{
	 padding-top: 15px;
	 padding-bottom: 12px;

 }
.profile-img{
	text-align: center;
	padding-top: 30px;
	width: 100%;
}





/*-----cointent-----*/
.headline{
 padding: 30px;;   
}


main{
    background-color: white;
	padding-bottom: 30px ;
	border-radius: 6px;
	border-bottom:2px solid #fc8c03;
}


img{
    width: 100%;
}
 .img-project{
	 display: block;
	 width: 100%;
 }
.container, .main-header{

	display: block;
	width: 100%;
	margin:  0 auto;
}
 .portfolio-gen{
	 padding: 2em;
 }

/*-----footer-----*/
footer{
    margin: 0 auto;
}

.foot-name{
text-align: center;
}
 .foot-nav{
     text-align: center;
     text-transform: uppercase;
     font-weight: 400;
 }
footer li {
    display: inline-block;
    font-weight: 500;
	text-transform: uppercase;
	margin: 0 auto;
}



/* ===========media queries section===========================*/


	
	@media(min-width: 768px) {
		
		.container, .main-header{
			
			width: 90%;
			margin:  auto;	
		}
		.headline{
			font-family: 'Pacifico', cursive;
			font-size: 40px;
			text-transform: uppercase ;
			border-bottom: 1px solid rgb(65, 25, 25);
		}
		h3{
			text-transform: uppercase ;

			font-size: 20px;
		}
	
		/*=====navigation=====*/
		.main-nav li{
			display: inline-block;
			padding-left: 10px;
			padding-top: 15px;
			color: black;
		
		}
		
		.main-nav li{
			text-align: center;
			font-family: 'Pacifico', cursive;
			
		}
		
		.name{
			text-align: center;
			font-size: 30px;
			border-bottom: 1px solid black;
			
		}
		
		.portfolio-gen{
			width:50%;
		}

		.photo{
			float: right;
		}
		/*=====header=====*/

		.profile-img{
			float: right;
			padding:10px;
			width: 60%;
			border: 1px solid #fc8c03;
			margin-left: auto;
		}
		.main-header{
			padding: 20px;
		}
		.info-text {
		font-size: 20px;
		font-weight: 600;
		font-family: cursive;	
		padding: 5px;
		letter-spacing: 1px;
		width: 40%;
		}
		.foot-name{
			float: left;
		}
		.foot-nav{
			float: right;
		}
		.foot-nav li{
			font-family: cursive;
		}
			

		.clearfix::after {
			content: "";
			clear: both;
			display: table;
		  }

	}

	@media(min-width: 1024px){

		.container, .main-header{
			width: 80%;
			
		
		}
		.profile-img{
		width: 60%;
		}
		
		.portfolio-gen{
			width: 33.3%;
			padding: 0 3px 0 3px;
			margin: 0;
			
		}
		
		.photo1{
			float: right;
		}
		
		.name{
			float: left;
		}

		.main-nav ul{
			float: right;
		}
		
		
		
		}
		

