* {

	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0 auto;
	background-color: #8eb6f7;
	text-align: center;

}

p {
	text-align: center;
	font-weight: 500;
	font-family: 'Spectral', serif;
}


h3 {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Bitter', serif;
	letter-spacing: 1px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #33ff33;

}

#portfolio:hover {
	border-bottom-color: aqua;
}

ul {
	list-style: none;
	padding-left: 0;
}



/*-----nav-----*/
.main-nav {
	margin: auto;
}

.main-nav li {
	font-weight: 600;
	font-size: 20px;
	padding-bottom: 10px;
	display: block;
	text-transform: uppercase;
	background-color: aliceblue;
	padding: 10px 0;
	margin: 5px;
	font-family: 'Pacifico', cursive;

}

.name {
	font-family: 'Lobster', cursive;
	color: black;
	font-size: 40px;
	font-weight: 500;
}




/*======Header=======*/

.main-header {
	margin: 0 auto;
	width: 100%;
	margin-bottom: 30px;
}



.profile-img {
	text-align: center;
	width: 100%;
	border-radius: 6px;
}

.main-header p {
	font-size: 15px;
	font-weight: 500;
	font-family: 'Courgette', cursive;
	letter-spacing: 1px;

}


/*-----cointent-----*/
.headline {
	padding: 30px;
	font-family: 'Neuton', serif;
	font-size: 30px;
	text-transform: uppercase;
	border-bottom: 1px solid rgb(65, 25, 25);
	letter-spacing: 2px;
}



main {
	background-color: white;
	padding-bottom: 20px;
	border-radius: 6px;
	border-bottom: 3px solid #fc8c03;
}


img {
	width: 100%;
}

.img-project {
	display: block;
	width: 100%;
}

.container {

	display: block;
	width: 100%;
	margin: 0 auto;
	min-width: 320px;
}



/*-----footer-----*/
footer {
	height: 100px;
	padding: 20px;
}

.foot-nav ul {
	display: none;
}

.foot-nav h2 {
	font-size: 10px;
	float: right;
	padding-left: 20px;
	line-height: 12px;
	height: 12px;
	letter-spacing: .5px;
	margin-right: 0;
	text-transform: uppercase;

}

.foot-name {
	font-size: 10px;
	float: left;

}

footer p {
	color: white;
	font-weight: 500;
	font-size: 20px;

}

a[href*="mailto"] {

	color: tomato;
	font-weight: 300;
}

a[href*="mailto"]:hover {
	color: dodgerblue;
}

/* ===========media queries section===========================*/



@media(min-width: 768px) {

	.container {

		width: 90%;
		max-width: 1150px;
		margin: 0 auto;
	}


	.main-header {
		margin-bottom: 14vh;
	}

	h3 {
		text-transform: uppercase;
		font-size: 20px;
	}

	/*=====navigation=====*/
	.main-nav li {
		display: inline-block;
		text-align: center;
		padding-left: 10px;
		padding-top: 15px;
		background-color: transparent;
	}

	.name {
		text-align: center;
		font-size: 30px;
		border-bottom: 1px solid black;

	}

	.portfolio-gen {
		width: calc(50% - 20px);
		margin: 0 10px;
		float: left;
	}



	/*=====header=====*/

	.profile-img {
		float: right;
		width: 55%;
		margin-left: 5px;

	}



	/*=====foot-nav=====*/



	.foot-nav ul {
		display: inline-flex;
		float: right;
		padding-left: 26px;
	}

	footer li {
		padding-right: 10px;
		font-weight: 700;
		font-size: 20px;
		text-transform: uppercase;
		font-family: 'Courgette', cursive;

	}

	.foot-nav h2 {
		display: none;
	}

	.clearfix::after {
		content: "";
		clear: both;
		display: table;
	}

	.foot-name {
		font-size: 20px;


	}

	footer p:nth-child(4) {
		border-bottom: 1px solid rgb(65, 25, 25);
		padding-bottom: 30px;
	}
}

	@media(min-width: 1024px) {

		.container {
			width: 75%;
		}

		.main-nav ul {
			float: right;
		}

		.portfolio-gen {
			width: calc(33.333% - 20px);
		}

		.name {
			float: left;
		}
	}
